.loading_container{
    @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
    font-family: 'Delius', cursive;;
    height: 100vh;
    width: 100%;
}

.img_loading{
    width: 675px;
    height: 200px;
    position: relative;
    top: 25rem;
}