.select_navbar{
    border: none ;
    padding:3px 15px ;
    border-radius:10px ;
    background: #332b24a0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #383631ca, #3b322a94);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #42413dd6, #383533); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #dadada;
    margin-right:20px;
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;  
}

.select_navbar:hover{
    cursor: pointer;
        color: white;
        background-color: #43314D;
        box-shadow: 0 0 20px #AA76EE, 0 0 40px #AA76EE, 0 0 80px #AA76EE;
        transition:0.8s;
}

.navbar_container{
    width:100vw;
    height:45px ;
    background: #332b24a0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #383631ca, #3b322a94);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #42413dd6, #383533); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:flex ;
    align-items:center ;
    justify-content:space-around;
    top:0 ;
    position:fixed ;
    z-index:2 ;
    margin: 0px ;
    box-shadow: 0 5px 30px rgba(128, 95, 185, 1);
}

.option_navbar{
    background-color:#413A44;
    color:#dadada;
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;  
}

.navbar_label{
    color: white;
    display:inline;
    margin-right:10px;
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;  
    letter-spacing: 2px;
}

.navbar_button{
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;  
    border-radius:10px ;
    background-color:#F7F7F7 ;
    border:none ;
    padding:4px 6px;
    color:#474747 ;
    letter-spacing: 2px;
}

.navbar_button:hover{
    color: white;
    background-color: #474747;
    box-shadow: 0 0 20px #F7F7F7, 0 0 40px #F7F7F7, 0 0 80px #F7F7F7;
    transition:0.8s;
    border: none;
    cursor:pointer ;
    padding: 5px 12px ;
}